.m-sidebar
  display none
  position absolute
  top 0
  right 0
  height 100vh
  background #343746
  width 350px
  padding 10px
  z-index 1000
  &.active
    display block

#m-close
  display inline-block
  position absolute
  right 0
  top 0
  color #fff
  cursor pointer
  padding 5px

#m-open
  position absolute
  top 0
  right 0
  cursor pointer
  padding 5px

.m-input
  height 30px
  font-size 14px
  padding 5px
  brr(10px)

.m-field
  display flex
  align-items center
  color #fff
  margin 5px 0
  label
    font-size 14px

input[type="range"]
  margin-right 15px

.m-name-field
  margin 10px 0 10px
  h5
    color #fff
    font-family: Arial
    font-weight: 400

.m-input-small
  width 100px
  height 30px
  font-size 14px
  padding 5px
  brr(10px)
  margin-right 15px


// Del

.box-edit
  // width 20px
  // height 20px
  display block
  background #755ca2