fLight = 300
fRegular = 400
fMedium = 500
fBold = 700 
fBlack = 900

cWhite = #ffffff
cBlack = #000000

fr = "HeliosCond"
fl = "HeliosCondLight"
fb = "HeliosCond-Bold"

@font-face
	font-family: 'HeliosCond'
	font-weight: normal
	font-style: normal
	src: url("../fonts/HeliosCond/HeliosCond.eot")
	src: url("../fonts/HeliosCond/HeliosCond.eot?#iefix")format("embedded-opentype"),
	url("../fonts/HeliosCond/HeliosCond.ttf") format("truetype"),
	url("../fonts/HeliosCond/HeliosCond.woff") format("woff")
	

@font-face
	font-family: 'HeliosCondLight'
	font-weight: normal
	font-style: normal
	src: url("../fonts/HeliosCondLight/HeliosCondLight.eot")
	src: url("../fonts/HeliosCondLight/HeliosCondLight.eot?#iefix")format("embedded-opentype"),
	url("../fonts/HeliosCondLight/HeliosCondLight.woff") format("woff"),
	url("../fonts/HeliosCondLight/HeliosCondLight.ttf") format("truetype")

@font-face
	font-family: 'HeliosCond-Bold'
	font-weight: normal
	font-style: normal
	src: url("../fonts/HeliosCond-Bold/HeliosCond-Bold.eot")
	src: url("../fonts/HeliosCond-Bold/HeliosCond-Bold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/HeliosCond-Bold/HeliosCond-Bold.woff") format("woff"),
	url("../fonts/HeliosCond-Bold/HeliosCond-Bold.ttf") format("truetype")

body
html
	font-family fr
	c cBlack