.birthday-kabinet
  .heading-title.heading-small
    h3 Дни рождения подразделения
  .birthday-now--wrapper
    .birthday-now--people.col-md-5
      .row
        .col-md-6
          .birthday-now--item
            .birthday-now--img
              .birthday-now--img-container
                img(src="img/birthday-people.jpg", alt="Birthday")
            .birthday-now--name
              p Колесников Василий Андреевич
              span Сегодня
        .col-md-6
          .birthday-now--item
            .birthday-now--img
              .birthday-now--img-container
                img(src="img/birthday-people.jpg", alt="Birthday")
            .birthday-now--name
              p Колесников Василий Андреевич
              span Сегодня
        .col-md-6
          .birthday-now--item
            .birthday-now--img
              .birthday-now--img-container
                img(src="img/birthday-people.jpg", alt="Birthday")
            .birthday-now--name
              p Колесников Василий Андреевич
              span Сегодня
        .col-md-6
          .birthday-now--item
            .birthday-now--img
              .birthday-now--img-container
                img(src="img/birthday-people.jpg", alt="Birthday")
            .birthday-now--name
              p Колесников Василий Андреевич
              span Сегодня
    
    .birthday-now--list.col-md-7
      ul.birthday-now--ul
        li
          span 30 августа
          | Колесников Василий Андреевич
        li
          span 30 августа
          | Колесников Василий Андреевич
        li
          span 30 августа
          | Колесников Василий Андреевич
        li
          span 30 августа
          | Колесников Василий Андреевич
        li
          span 30 августа
          | Колесников Василий Андреевич
        li
          span 1 сентября
          | Колесников Василий Андреевич
        li
          span 1 сентября
          | Колесников Василий Андреевич
        li
          span 1 сентября
          | Колесников Василий Андреевич
        li
          span 2 сентября
          | Колесников Василий Андреевич
        li
          span 2 августа
          | Колесников Василий Андреевич
        li
          span 2 сентября
          | Колесников Василий Андреевич
        li
          span 3 сентября
          | Колесников Василий Андреевич
        li
          span 4 сентября
          | Колесников Василий Андреевич