.profile-phone
  .heading-title.heading-small
    h3 Телефоны
    .link-title
      a(href="#") Смотреть все
  
  .profile-form--wrapper
    form.profile-form
      .select-form--profile
        select.js-select2
          option Подразделение A
          option Подразделение B
          option Подразделение C
          option Подразделение D
      input(type="text" placeholder="ФИО")
      button.btn-phonebook #[+iconSvg('30', '30', '0 0 30 30', 'icon-btn-search')] Найти
  
  .table-phone--wrapper
    table.table-default
      thead
        tr
          th(width="135px") ФИО
          th(width="45px") Каб.
          th(width="168px") Подразделение
          th(width="258px") Должность
          th Email
          th Внтренний
          th Мобильный
      tbody
        tr
          td Константинопольский Григорий Михайлович
          td 44
          td Департамент
          td Руководитель проекта контроля реализации стратегии
          td konst@mail.ru
          td 36559
          td 79624468422
        tr
          td Константинопольский Григорий Михайлович
          td 44
          td Департамент
          td Главный специалист администрирования
          td konst@mail.ru
          td 36559
          td 79624468422
        tr
          td Константинопольский Григорий Михайлович
          td 44
          td Департамент
          td Главный специалист администрирования
          td konst@mail.ru
          td 36559
          td 79624468422
        tr
          td Константинопольский Григорий Михайлович
          td 44
          td Департамент
          td Главный специалист администрирования
          td konst@mail.ru
          td 36559
          td 79624468422
        tr
          td Константинопольский Григорий Михайлович
          td 44
          td Департамент
          td Главный специалист администрирования
          td konst@mail.ru
          td 36559
          td 79624468422
        tr
          td Константинопольский Григорий Михайлович
          td 44
          td Департамент
          td Главный специалист администрирования
          td konst@mail.ru
          td 36559
          td 79624468422
        tr
          td Константинопольский Григорий Михайлович
          td 44
          td Департамент
          td Главный специалист администрирования
          td konst@mail.ru
          td 36559
          td 79624468422