.subordinate-people
  .heading-title
    h4 Колесников Василий Андреевич
  
  .subordinate-button
    a(href="#").button #[i.icon-arrow-btn] К списку подчиненных

  .subordinate-people--main
    .subordinate-people--img
      img(src="img/user.jpg", alt="User")

    .subordinate-people--table
      table
        tr
          td ФИО
          td Колесников Василий Андреевич
        tr
          td Дата рождения
          td 20 февраля 1985
        tr
          td Должность
          td Конструктор
        tr
          td Подразделение
          td Разработка двигателей
        tr
          td Табельный номер
          td 455
        tr
          td Внунтренний номер телефона
          td 333-444
        tr
          td Мобильный (корпоративный)
          td 8 928 300-30-30
        tr
          td Почта (корпоративная)
          td kolesnikov@oak.ru
        tr
          td Почта (личная)
          td kolesnikov@mail.ru
        tr
          td Рабочее место (№ кабинета)
          td к. 33, 3 этаж
        tr
          td СНИЛС
          td 333-413-421-533
        tr
          td ИННТелефон для экстренной связи
          td 3234443222348 928 300-30-30
        tr
          td Адрес фактического проживания
          td г. Москва, ул. Тверска, д. 22, кв. 10