.subordinate
  .heading-title.heading-small
    h3 Подчиненные сотрудники

  .training-main
    .row
      .col-md-6
        .training-block--default
          .training-block--heading
            h4 Отдел прототипирования
          .training-block--content
            ul.training-block--list
              li
                a(href="#") Колесников Василий Андреевич
                +tableTraning()
              li
                a(href="#") Колесников Василий Андреевич
                +tableTraning()
                span.icon-what
                  img(src="img/icon/what-icon.png", alt="What icon")
                  span.icon-what--content Оформление заявки на обучение
              li
                a(href="#") Колесников Василий Андреевич
              li
                a(href="#") Колесников Василий Андреевич
              li
                a(href="#") Колесников Василий Андреевич
                span.icon-what
                  img(src="img/icon/what-icon.png", alt="What icon")
                  span.icon-what--content Оформление заявки на обучение
              li
                a(href="#") Колесников Василий Андреевич
      .col-md-6
        .training-block--default
          .training-block--heading
            h4 Отдел разработки
          .training-block--content
            ul.training-block--list
              li
                a(href="#") Колесников Василий Андреевич
                +tableTraning()
              li
                a(href="#") Колесников Василий Андреевич
                +tableTraning()
                span.icon-what
                  img(src="img/icon/what-icon.png", alt="What icon")
                  span.icon-what--content Оформление заявки на обучение
              li
                a(href="#") Колесников Василий Андреевич
              li
                a(href="#") Колесников Василий Андреевич
              li
                a(href="#") Колесников Василий Андреевич
              li
                a(href="#") Колесников Василий Андреевич