.training-wrapper
  .heading-title.heading-small
    h3 Обучение
  
  .training-main
    .row
      .col-md-6
        .training-block--default
          .training-block--heading
            h4 Текущие программы
          .training-block--content
            ul
              li Прототипирование и чертежи
              li 3D моделлирование
              li Повышение квалификации
          .training-block--foot
            a(href="#").button Смотреть все
    
      .col-md-6
        .training-block--default
          .training-block--heading
            h4 Текущие программы
          .training-block--content
            ul.training-block--list
              li
                a(href="#") Основы авиастроения
              li
                a(href="#") Обучение по ценностям корпорации
                span.icon-what
                  img(src="img/icon/what-icon.png", alt="What icon")
                  span.icon-what--content Оформление заявки на обучение
              li
                a(href="#") Углубленное изучение авиастроения
      
      .col-md-6
        .training-block--default
          .training-block--heading
            h4 Текущие программы
          .training-block--content
            ul
              li Основы авиастроения
              li По заявке подразделения
              li Лекция по авиастроению
              li Лекция по логистике
          .training-block--foot
            a(href="#").button Смотреть все

      .col-md-6
        .training-block--default
          .training-block--heading
            h4 Текущие программы
          .training-block--content
            .training-block--table
              table
                tr
                  td Уровень резерва
                  td #4
                tr
                  td Дата зачисления
                  td 22.01.2020
                tr
                  td Оценка способностей
                  td 88 из 100
      
      .col-md-6
        a(href="#").navigate-kabinet
          span Электронная библиотека
          i.icon-arrow
      
      .col-md-6
        a(href="#").navigate-kabinet
          span Заявка в план обучения департамента на предстоящий год
          i.icon-arrow
      
      .col-md-6
        .message-red
          h5 Экологичное производство
          p Предлагаем вам записаться на лекцию по охране окружающей среды в четверг в 18:00! С собой необходимо взять паспорт.
          a(href="#").button Подробнее
      
      .col-md-6
        .message-red
          h5 Экологичное производство
          p Предлагаем вам записаться на лекцию по охране окружающей среды в четверг в 18:00! С собой необходимо взять паспорт.
          a(href="#").button Подробнее
