.vacation-registration

  .heading-title.heading-small
    h3 Оформление отпуска
  
  .default-text
    p Уважаемый Зуев Ярослав Андреевич!
    p Уведомляем Вас, что в соответствии с утвержденным графиком отпусков на 2020 год Вы запланировали ежегодный основной оплачиваемый отпуск на период с 20 октября 2020 года по 20 ноября 2020 года на 31 календарный день.
    p Вам необходимо принять решение об использовании запланированного отпуска и согласовать его с руководителем.
  
  .default-message
    h5 Внимание
    p Заявка не может быть направлена на согласование #[strong менее чем за 10 календарных дней] до запланированной даты начала отпуска. Пожалуйста, выберите в заявке другие даты или оформите заявку на отпуск без сохранения заработной платы.
  .default-button
    a(href="#").button.button-big Использую
    a(href="#").button.button-big--gray Не использую