.wage-wrapper
  .heading-title.heading-small
    h3 Заработная плата

  .file-list--wrapper.row
    .file-list--items.col-md-3
      a(href="#").file-list
        img(src="img/icon/pdf.png", alt="PDF File")
        span Расчетный лист#[br] с 21.01.20 по 21.02.20
    .file-list--items.col-md-3
      a(href="#").file-list
        img(src="img/icon/pdf.png", alt="PDF File")
        span Расчетный лист#[br] с 21.01.20 по 21.02.20
    .file-list--items.col-md-3
      a(href="#").file-list
        img(src="img/icon/pdf.png", alt="PDF File")
        span Расчетный лист#[br] с 21.01.20 по 21.02.20
    .file-list--items.col-md-3
      a(href="#").file-list
        img(src="img/icon/pdf.png", alt="PDF File")
        span Расчетный лист#[br] с 21.01.20 по 21.02.20
    .file-list--items.col-md-3
      a(href="#").file-list
        img(src="img/icon/pdf.png", alt="PDF File")
        span Расчетный лист#[br] с 21.01.20 по 21.02.20
    .file-list--items.col-md-3
      a(href="#").file-list
        img(src="img/icon/pdf.png", alt="PDF File")
        span Расчетный лист#[br] с 21.01.20 по 21.02.20