.wage-wrapper
  .heading-title.heading-small
    h3 Заработная плата

  .wage-content
    p С целью обеспечения безопасности конфиденциальной информации для доступа к функционалу просмотра расчетных листов в личном кабинете работнику необходимо дополнительно ввести отдельный уникальный пароль или пройти процедуру верификации через смс-сообщение на мобильный телефон.
  .form-default
    form(action="")
      input(type="text" placeholder="Введите пароль")
      button.button Отправить
    
    .login-to-sms
      a(href="#") Войти через СМС