#head-calendar
  display flex
  font-family fr
  font-size 16px
  color: #5B6770
  background #fff
  padding 10px

#mounth-now
  margin-right 24px
  min-width 95px

.mounth-arrow
  #prev-mounth,
  #next-mounth
    position relative
    
    cursor pointer
    &:before
      position relative
      content: ""
      width 13px
      height 12px
      display inline-block
      background-image url(../img/icon/arrow-calendar.svg)
  #next-mounth
    margin-left 12px
    &:before
      transform: rotateY(180deg)

.calendar-month
  width: calc(100% + 18px)
  line-height 1.2em
  font-size 15px
  text-align center
  border-spacing: 9px 10px
  margin 0 -9px

  thead
    tr
      td
        font-family fr
        font-size 12px
        color: #5B6770
        text-transform uppercase
        text-align left
        line-height 2px
        padding-top 6px
      &:last-child
        font-size small
        color rgb(85, 85, 85)
        &:nth-child(1)
          td
            &:nth-child(2)
              color rgb(50, 50, 50)
  tbody
    td
      position relative
      color rgb(44, 86, 122)
      background #fff
      height 64px
      width 64px
      vertical-align: bottom
      text-align left
      padding: 3px 6px;
      span
        font-family fr
        font-size 11px
        color: #5B6770
      &.today
        // background rgba(218, 41, 28, .2)
        // color #fff

#calendar2 thead tr:nth-child(1) td:nth-child(1):hover, #calendar2 thead tr:nth-child(1) td:nth-child(3):hover
  cursor pointer

#calendar2 tbody td:nth-child(n+6), #calendar2 .holiday
  color rgb(231, 140, 92)


.date-wrapper
  position absolute
  width 100%
  height 100%
  top 0
  left 0

.date-list
  position relative
  margin 0
  padding 0
  max-height: 45px
  overflow-y: auto
  &::-webkit-scrollbar-track
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #FFD5D2
  &::-webkit-scrollbar
    width: 6px;
    background-color: #FFD5D2
  &::-webkit-scrollbar-thumb
    background-color: #DA291C

  li
    font-family fr
    font-size 7px
    color: #FFFFFF
    padding 2px 6px 2px 3px
    background: #1D428A
    max-height: 14px
    margin-bottom 1px
    line-height 1.6
    text-overflow: ellipsis
    white-space: nowrap
    overflow: hidden
    span
      font-family fr
      font-size 7px !important
      display inline-block !important
      color: #FFFFFF !important
      // line-height 1.4 !important