.footer
	position absolute
	left 0
	bottom 0
	width 100%
	background: #1D428A
	overflow hidden

	.container
		padding-top 54px
		padding-bottom 132px
		background-image url(../img/footer-bg.png)
		background-repeat no-repeat
		background-position right 313px bottom 70px

.footer-head
	margin-bottom 58px

.footer-list--title
	margin-bottom 10px
	h4, h3
		font-family fb
		font-size: 15px
		color: #FFFFFF

.footer-list--wrapper
	min-height 201px
	&:not(:last-child)
		margin-bottom 36px

.footer-list
	li
		&:not(:last-child)
			margin-bottom 8px
	a
		font-family fl
		font-size 12px
		color: #FFFFFF
		text-decoration none

.footer--sicial-list
	margin-top 20px
	li
		&:not(:last-child)
			margin-bottom 14px
	a
		text-decoration none
		font-family fl
		font-size 12px
		c #fff
	
	span
		position relative
		top 2px
		display inline-block
		min-width 16px
		margin-right 8px
	
	svg
		fill #fff

.copy-footer
	font-family fl
	font-size 12px
	color: #FFFFFF
	margin-top auto

.footer-bottom
	.col-md-2
		display flex
		flex-direction: column
		justify-content space-between