@media (max-width: 1199px)
  .top-menu li:not(:last-child)
    margin-right 20px
  .admin-dropdown
    margin-top 9px
  .navigate-links--wrapper
    margin 0 -7px
  .navigate-links--wrapper .col-ds-3
    padding 0 7px
  .heading-title
    flex-wrap: wrap
    justify-content space-between
    h3
      margin-right 14px
  .heading-title .link-title
    margin-left 0
  .info-sistems--block
    padding 14px 25px 45px
  .video-wrapper a
    img
      max-width 100%
  .gallery-img
    width 100%
    max-width 100%
    min-width 100%
  .gallery-img
    min-height 74px
  .document-wrapper .document-img
    img
      max-width 100%
  .media-wrapper
    margin 0 -8px
    .col-ds-4
      padding 0 8px
  .birthday-main
    border-right: 7px solid #fff
  .calendar-main
    border-left: 7px solid #fff
  .section-sistems .sistems-wrapper
    margin 0 -7px
    .col-ds-6
      padding 0 7px
  .job-group
    margin 0 -7px
    .col-ds-3
      padding 0 7px
  .mass-media
    .col-md-6
      padding 0 7px
  .section--mass-media
    padding-bottom 10px

@media (max-width: 991px)
  .footer-list a
    font-size 14px
  .copy-footer
    margin-left: auto;
  .footer-bottom
    .col-md-2
      width 25%
      &:last-child
         display flex
         .footer-list--wrapper
          margin-left auto
    .col-md-4
      display none
  .section-phonebook .navigate-links--wrapper
    flex-wrap: wrap
  .navigate-links--wrapper .col-ds-3
    width 50%
  .navigate-links
    margin-bottom 15px
  
  .birthday-main
    width 100%
    border-right: 0
    padding-right 0
  .calendar-main
    width 100%
    border-left: 0
    padding-left 0
  .birthday-calendar .col-ds-6
    width 100%
    padding-bottom 20px
  .birthday-calendar
    flex-direction: column
  .section-sistems .sistems-wrapper .col-ds-6
    width 100%
    flex-shrink: 0
    width: 100%
    max-width: 100%
    &:first-child
      margin-bottom 30px
  .section-sistems .sistems-wrapper
    -webkit-box-flex: 1
    -ms-flex: 1 0 100%
    flex: 1 0 100%
    -ms-flex-wrap: wrap
    flex-wrap: wrap
  .media-wrapper .col-ds-4
    width 50%
  .media-wrapper
    flex-wrap: wrap
  .job-group .col-ds-3
    width 50%
  .job-group
    flex-wrap: wrap
  .job-group--item
    margin-bottom 14px
  .header
    position relative
  .top-menu
    display block
    padding-left 0
  .top-menu--block
    position fixed
    top 0
    right 0
    width 300px
    background #1D428A
    height 100vh
    z-index 1000
    display block
    flex-direction: column
    padding: 20px 24px
    box-shadow: 0 0 24px 2px rgba(51, 51, 128, .4)
    trn(.25s)
    opacity 0
    visibility hidden
    tt(100%, 0)
    &.is-active
      opacity 1
      visibility visible
      tt(0%, 0)

  .top-menu li a
    font-family: fb
    font-size: 16px
    text-decoration: none
    margin-top: 12px
    line-height: 1.4
    min-height: 58px
    color: #fff
  .top-menu li
    display block
    float none
    &:before
      position: relative
      content: ""
      display: inline-block
      width: 7px
      height: 7px
      border-width: 3px 3px 0 0
      border-style: solid
      border-color: #ffffff
      -webkit-transform: rotate(45deg)
      transform: rotate(45deg)
      margin-right 10px
    trn(.15s)
    &:not(:last-child)
      margin-right 0
      margin-bottom 14px
  .close-menu
    position absolute
    left -56px
    top 0
    display inline-block
    width 56px
    height 56px
    background #1D428A
    padding 17px
    // box-shadow: 0 0 24px 2px rgba(51, 51, 128, 0.8)
    z-index 10
  .info-sistems--block
    padding-bottom 14px
  .footer .container
    background-position: right 47px bottom 70px

@media (max-width: 767px)
  .top-menu
    z-index 10
  .section-job-group
    padding-bottom 0
  .mass-media .col-md-6
    &:first-child
      margin-bottom 24px
  .mass-media .col-md-6
    background-position: right 10px bottom 70px
  .news-slider--items .img-link img
    width 100%
    height auto

@media (max-width: 600px)
  .height-50
    display none
  .section--mass-media
    padding-bottom 30px
  
@media (max-width: 540px)
  .section-sistems
    padding-bottom 48px
  .section-job-group
    padding-top 30px
  .section--mass-media
    // padding-bottom 0
  .footer-head
    margin-bottom 24px
  .section-phonebook .navigate-links--wrapper
    margin-top 40px
  .form-phonebook .btn-phonebook
    min-width 50px
    font-size 0
    svg
      margin-right 0
  .media-wrapper .col-ds-4
    width 100%
  .photo-wrapper
    max-width 356px
    margin 0 auto
  .media-wrapper
    .heading-title
      text-align center
      justify-content center
  .video-wrapper,
  .document-wrapper
    margin 0 auto
    display block
    max-width 356px
  .media-wrapper .col-ds-4
    &:not(:last-child)
      margin-bottom 24px
  .footer-list--wrapper
    min-height: auto
  .footer-list--wrapper:not(:last-child)
    margin-bottom 16px
  .footer-bottom .col-md-2
    width 50%
    margin-bottom 16px
  .footer .container
    padding-top 30px
    padding-bottom 20px
  .footer-list li:not(:last-child)
    margin-bottom 3px

@media (max-width: 480px)
  .navigate-links--wrapper .col-ds-3,
  .job-group .col-ds-3
    width 100%
  .logo
    margin-right 14px
  .admin-dropdown
    font-size 0