@media (max-width: 1366px)
  .top-menu li:not(:last-child)
    margin-right 20px
  .heading-title h2, 
  .heading-title h3
    font-size 28px
@media (max-width: 1199px)
  .personal-kabinet
    max-width 90%
  .menu-kabinet--list
    a
      padding 11px 10px 12px
  .top-menu li:not(:last-child)
    margin-right 20px
  .admin-dropdown
    margin-top 9px
  .navigate-links--wrapper
    margin 0 -7px
  .navigate-links--wrapper .col-ds-3
    padding 0 7px
  .heading-title
    flex-wrap: wrap
    justify-content space-between
    h3
      margin-right 14px
  .heading-title .link-title
    margin-left 0
  .info-sistems--block
    padding 14px 25px 45px
  .video-wrapper a
    img
      max-width 100%
  .gallery-img
    width 100%
    max-width 100%
    min-width 100%
  .gallery-img
    min-height 74px
  .document-wrapper .document-img
    img
      max-width 100%
  .media-wrapper
    margin 0 -8px
    .col-ds-4
      padding 0 8px
  .birthday-main
    border-right: 7px solid #fff
  .calendar-main
    border-left: 7px solid #fff
  .section-sistems .sistems-wrapper
    margin 0 -7px
    .col-ds-6
      padding 0 7px
  .job-group
    margin 0 -7px
    .col-ds-3
      padding 0 7px
  .mass-media
    .col-md-6
      padding 0 7px
  .section--mass-media
    padding-bottom 10px

@media (max-width: 1024px)
  .training-block--default .training-block--content .training-block--list li a
    padding-left 30px
  .dropdown-training
    width 385px
    left 20px
  .calendar-even--month
    overflow-y auto
    table
      min-width 700px
  .calendar-even--month table tbody tr td span,
  .calendar-even--week table tbody tr td span
    width calc(100% + 1px)
    min-width calc(100% + 1px)
  .personal-kabinet--content,
  .head-kabinet--message
    padding-right 20px
  .personal-kabinet
    padding-left 20px
    tt(0, 0)

@media (max-width: 991px)
  .profile-form .select-form--profile
    max-width 280px
  .user-application
    margin-left 40px
  .head-kabinet--message-info p
    br
      display none
  .menu-kabinet
    background #eceeef
    &:before
      display none
  .menu-kabinet
    overflow-x: scroll
    overflow-y: hidden
    white-space: nowrap
  .footer-list a
    font-size 14px
  .copy-footer
    margin-left: auto;
  .footer-bottom
    .col-md-2
      width 25%
      &:last-child
         display flex
         .footer-list--wrapper
          margin-left auto
    .col-md-4
      display none
  .section-phonebook .navigate-links--wrapper
    flex-wrap: wrap
  .navigate-links--wrapper .col-ds-3
    width 50%
  .navigate-links
    margin-bottom 15px
  
  .birthday-main
    width 100%
    border-right: 0
    padding-right 0
  .calendar-main
    width 100%
    border-left: 0
    padding-left 0
  .birthday-calendar .col-ds-6
    width 100%
    padding-bottom 20px
  .birthday-calendar
    flex-direction: column
  .section-sistems .sistems-wrapper .col-ds-6
    width 100%
    flex-shrink: 0
    width: 100%
    max-width: 100%
    &:first-child
      margin-bottom 30px
  .section-sistems .sistems-wrapper
    -webkit-box-flex: 1
    -ms-flex: 1 0 100%
    flex: 1 0 100%
    -ms-flex-wrap: wrap
    flex-wrap: wrap
  .media-wrapper .col-ds-4
    width 50%
  .media-wrapper
    flex-wrap: wrap
  .job-group .col-ds-3
    width 50%
  .job-group
    flex-wrap: wrap
  .job-group--item
    margin-bottom 14px
  .header
    position relative
  .top-menu
    display block
    padding-left 0
  .top-menu--block
    position fixed
    top 0
    right 0
    width 300px
    background #1D428A
    height 100vh
    z-index 1000
    display block
    flex-direction: column
    padding: 20px 24px
    box-shadow: 0 0 24px 2px rgba(51, 51, 128, .4)
    trn(.25s)
    opacity 0
    visibility hidden
    tt(100%, 0)
    &.is-active
      opacity 1
      visibility visible
      tt(0%, 0)

  .top-menu li a
    font-family: fb
    font-size: 16px
    text-decoration: none
    margin-top: 12px
    line-height: 1.4
    min-height: 58px
    color: #fff
  .top-menu li
    display block
    float none
    &:before
      position: relative
      content: ""
      display: inline-block
      width: 7px
      height: 7px
      border-width: 3px 3px 0 0
      border-style: solid
      border-color: #ffffff
      -webkit-transform: rotate(45deg)
      transform: rotate(45deg)
      margin-right 10px
    trn(.15s)
    &:not(:last-child)
      margin-right 0
      margin-bottom 14px
  .close-menu
    position absolute
    left -56px
    top 0
    display inline-block
    width 56px
    height 56px
    background #1D428A
    padding 17px
    // box-shadow: 0 0 24px 2px rgba(51, 51, 128, 0.8)
    z-index 10
  .info-sistems--block
    padding-bottom 14px
  .footer .container
    background-position: right 47px bottom 70px

@media (max-width: 940px)
  .subordinate-people--table table tr td
    padding-left 20px
  .subordinate-people--table
    margin-left 30px
  .dropdown-training
    width 96%
    left 5px
  .file-list--wrapper
    .file-list--items
      width 33.3%
  .vacation-schedule--head .download-file--wrap, 
  .vacation-schedule--head .toyear-calendar, 
  .vacation-schedule--head .upload-wrap,
  .add-order--wrap
    margin-bottom 20px
  .vacation-schedule--checbox
    padding 0

@media (max-width: 854px)
  .menu-kabinet--list
    display block
    white-space: nowrap
    li
      display inline-block

  .table-phone--wrapper
    overflow-y auto
    .table-default
      min-width 700px
  .profile-form
    flex-wrap: wrap
    input
      margin-left 0
      max-width 100%
  .profile-form .select-form--profile
    max-width 100%
    margin-bottom 14px
  .user-application
    margin-left 0
    padding-left 20px
  .task-default--wrapper,
  .administrator--wrapper .row
    margin-left -10px
    margin-right -10px
    .col-md-6
      width 100%
      padding 0 10px

@media (max-width: 767px)

  .vacation-schedule--checbox .checkbox-small
    margin-bottom 20px
  .vacation-schedule--checbox
    flex-wrap wrap
  .training-main .col-md-6
    margin-bottom 25px
  .training-main .col-md-6
    width 50%
  .menu-kabinet
    padding 15px
  .birthday-now--wrapper
    display block
  .birthday-now--people
    .row
      .col-md-6
        width 50%
      .birthday-now--item
        margin-bottom 20px
  .wage-wrapper .form-default input
    min-width auto
  .table-application--wrapper
    overflow-y auto
    max-width 263px
    .table-application
      min-width 400px
  .head-kabinet--name
    padding-top: 14px
    padding-bottom 14px
    display flex
    align-items center
    min-width: auto
    width: 222px
    min-height: 86px
  .top-menu
    z-index 10
  .section-job-group
    padding-bottom 0
  .mass-media .col-md-6
    &:first-child
      margin-bottom 24px
  .mass-media .col-md-6
    background-position: right 10px bottom 70px
  .news-slider--items .img-link img
    width 100%
    height auto

@media (max-width: 720px)
  .subordinate-people--main
    display block
  .subordinate-people--img
    margin-bottom 20px
  .subordinate-people--table
    width 100%
    margin-left 0

@media (max-width: 700px)
  .training-block--default .training-block--content .training-block--list li a,
  .training-block--default .training-block--content ul
    padding-left 30px
  .training-block--default .training-block--foot
    padding 23px 30px 0

@media (max-width: 660px)
  .file-list--wrapper
    .file-list--items
      width 50%
  .head-kabinet--message, .personal-kabinet--content
    padding-right 0
  .personal-kabinet--content
    padding-left: 15px
    padding-right: 15px
  .head-kabinet--name
    padding-left 15px
  .personal-kabinet
    padding-left 0px
    padding-right 0px
  .head-kabinet--message
    display block
    padding 13px 24px
  .head-kabinet--message-info
    padding 0
    margin-bottom 8px

@media (max-width: 640px)
  .training-block--default .training-block--heading
    padding-left 20px
  .training-block--default .training-block--content .training-block--list li a, .training-block--default .training-block--content ul
    padding-left 20px
  .personal-kabinet
    width: calc(100vw - 76px)
    max-width: 100%
  .link-more--big
    margin-top 0
    a
      font-size 20px
  .info-dropdown
    margin-bottom 20px
  .administrator--wrapper .row .col-md-6, .task-default--wrapper .col-md-6
    width 50%
  .user-application
    padding-left 0
  .user-profile--wrapper
    display block
  .user-profile
    margin 0 auto 20px
  .table-application--wrapper
    max-width 100%

@media (max-width: 639px)
  .training-main .col-md-6
    width 100%
  .training-block--default
    max-width 100%

@media (max-width: 600px)
  .default-text p
    font-size 15px
    margin-bottom 12px
  .head-kabinet--message
    display none
  .height-50
    display none
  .section--mass-media
    padding-bottom 30px
  
@media (max-width: 540px)
  .subordinate-people--table
    overflow-y auto
    padding-bottom 10px
    table
      min-width 600px
  .section-sistems
    padding-bottom 48px
  .section-job-group
    padding-top 30px
  .section--mass-media
    // padding-bottom 0
  .footer-head
    margin-bottom 24px
  .section-phonebook .navigate-links--wrapper
    margin-top 40px
  .form-phonebook .btn-phonebook
    min-width 50px
    font-size 0
    svg
      margin-right 0
  .media-wrapper .col-ds-4
    width 100%
  .photo-wrapper
    max-width 356px
    margin 0 auto
  .media-wrapper
    .heading-title
      text-align center
      justify-content center
  .video-wrapper,
  .document-wrapper
    margin 0 auto
    display block
    max-width 356px
  .media-wrapper .col-ds-4
    &:not(:last-child)
      margin-bottom 24px
  .footer-list--wrapper
    min-height: auto
  .footer-list--wrapper:not(:last-child)
    margin-bottom 16px
  .footer-bottom .col-md-2
    width 50%
    margin-bottom 16px
  .footer .container
    padding-top 30px
    padding-bottom 20px
  .footer-list li:not(:last-child)
    margin-bottom 3px

@media (max-width: 539px)
  .administrator--wrapper .row .col-md-6, .task-default--wrapper .col-md-6
    width 100%

@media (max-width: 480px)
  .default-button
    .button-big, .button-big--gray, .button-big--red
      padding 14px
      min-width 120px
  .file-list--wrapper
    .file-list--items
      width 100%
  .personal-kabinet
    width 100%
  .head-kabinet--name
    min-height: 50px
    padding 5px 0
    padding-left 75px
    width 100%
  .close-perscab
    width 50px
    height 50px
    top 0
    left 0
    padding 13px
  .navigate-links--wrapper .col-ds-3,
  .job-group .col-ds-3
    width 100%
  .logo
    margin-right 14px
  .admin-dropdown
    font-size 0

@media (max-width: 375px)
  .calendar-tab--list li
    min-width 115px