extends layout.pug

block variabl
	- var title = "OAK"
	- var profil = true

block windowKabinet
	include include/window-kabinet

block header
	include include/header

block main
	main.section_main

		section.section-default
			.container
				.sistems-wrapper
					.heading-title
						h3 Информационные системы
						.link-title
							a(href="#") Смотреть все
					.height-50
					.info-sistems--block
						ul.list-sistems
							li
								a(href="home.html" target="_blank") Главная
							li
								a(href="phones.html" target="_blank") Телефоны
							li
								a(href="wage.html" target="_blank") Заработная плата
							li
								a(href="birthday.html" target="_blank") Дни рождения подразделения
							li
								a(href="training.html" target="_blank") Обучение
							li
								a(href="vacation-schedule.html" target="_blank") График отпусков
							li
								a(href="vacation-registration.html" target="_blank") Оформление отпуска
							li
								a(href="vacation-registration-v2.html" target="_blank") Оформление отпуска (Форма)
							li
								a(href="create-task.html" target="_blank") Создание задачи
							li
								a(href="subordinate.html" target="_blank") Подчиненные сотрудники
							li
								a(href="subordinate-people.html" target="_blank") Подчиненные сотрудники (User)