footer.footer
	.container
		.footer-head
			a(href="#").logo-footer
				img(src="img/footer-logo.svg", alt="Logo")
		
		.footer-bottom.row
			.col-md-2
				.footer-list--wrapper
					.footer-list--title
						h4 Компания
					ul.footer-list
						li
							a(href="#") Руководство
						li
							a(href="#") Стратегия
						li
							a(href="#") Предприятия ОАК
						li
							a(href="#") История
						li
							a(href="#") Ценности
						li
							a(href="#") Фотогалерея
						li
							a(href="#") Видеогалерея
				.footer-list--wrapper
					.footer-list--title
						h4 Документы
					ul.footer-list
						li
							a(href="#") Приказы
						li
							a(href="#") Охрана труда
						li
							a(href="#") Фирменный стиль
						li
							a(href="#") Шаблоны документов
						li
							a(href="#") Производственный календарь
						li
							a(href="#") Информационный массив aналитического департамента
			.col-md-2
				.footer-list--wrapper
					.footer-list--title
						h4 Новости
					ul.footer-list
						li
							a(href="#") Новости
						li
							a(href="#") Обзор СМИ
						li
							a(href="#") Объявления
						li
							a(href="#") Журнал "Горизонты"
						li
							a(href="#") Мероприятия
			
				.footer-list--wrapper
					.footer-list--title
						h4 Информационная безопасность
					ul.footer-list
						li
							a(href="#") Новости информационной безопасности
						li
							a(href="#") Внутренние нормативные документы по информационной безопасности
						li
							a(href="#") Законодательство в области информационной безопасности
			
			.col-md-2
				.footer-list--wrapper
					.footer-list--title
						h4 Сервисы
					ul.footer-list
						li
							a(href="#") Информационные системы
						li
							a(href="#") Рабочие группы
						li
							a(href="#") Обучение
						li
							a(href="#") Календарь компании
						li
							a(href="#") Опросы
				.footer-list--wrapper
					.footer-list--title
						h4 Противодействие коррупции
					ul.footer-list
						li
							a(href="#") Учебные мероприятия. Презентации
						li
							a(href="#") ЛНА ПАО ОАК
						li
							a(href="#") Законодательство
			
			.col-md-4

			.col-md-2
				.footer-list--wrapper
					.footer-list--title
						h4 Соцсети
					ul.footer--sicial-list
						li
							a(href="#")
								span
									+iconSvg('15', '9', '0 0 15 9', 'icon-vk')
								| Вконтакте
						li
							a(href="#")
								span
									+iconSvg('13', '13', '0 0 13 13', 'icon-facebook')
								| Facebook
						li
							a(href="#")
								span
									+iconSvg('13', '14', '0 0 13 14', 'icon-inst')
								| Instagram
						li
							a(href="#")
								span
									+iconSvg('16', '13', '0 0 16 13', 'icon-twitter')
								| Twitter
						li
							a(href="#")
								span
									+iconSvg('15', '11', '0 0 15 11', 'icon-youtube')
								| YouTube
				
				p.copy-footer © ПАО ОАК 2018