.personal-kabinet#personal-kabinet
  span#close-perscab.close-perscab
    +iconSvg('23', '23', '0 0 23 23', 'icon-close')
  
  .personal-kabinet--wrapper
  
    .personal-kabinet--container
      .head-kabinet
        .head-kabinet--name
          h2 Ярослав Зуев
        .head-kabinet--message
          .head-kabinet--message-info
            h4 Экологичное производство
            p Предлагаем вам записаться на лекцию по охране окружающей #[br] среды в четверг в 18:00! С собой необходимо взять паспорт.
          //- .head-kabinet--info-button
          a(href="#").button Подробнее
      
      nav.menu-kabinet
        ul.menu-kabinet--list
          li.active
            a(href="#") Профиль
          li
            a(href="#") Телефоны
          li
            a(href="#") Заработная плата
          li
            a(href="#") Дни рождения
          li
            a(href="#") Обучение
          li
            a(href="#") График отпусков
          li
            a(href="#") Квартальные планы
      
      .personal-kabinet--content

        if(profil)
          include kabinet-include/profil

        else if(phones)
          include kabinet-include/phone

        else if(wage)
          include kabinet-include/wage
          .height-50
          include kabinet-include/wage-v2
        
        else if(birthday)
          include kabinet-include/birthday

        else if(training)
          include kabinet-include/training
        
        else if(vacationSchedule)
          include kabinet-include/vacation-schedule
        
        else if(vacationRegistration)
          include kabinet-include/vacation-registration
        
        else if(vacationRegistration2)
          include kabinet-include/vacation-registration-v2
        
        else if(createTask)
          include kabinet-include/create-task
        
        else if(subordinate)
          include kabinet-include/subordinate
        
        else if(subordinatePeople)
          include kabinet-include/subordinate-people

      